@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



body,html{overflow-x: hidden;}

.sliderWrapper{width: 85%; margin: auto; margin-top: 30px ;}
.sliderWrapper .swiper{overflow: inherit !important;}


.sliderWrapper .swiper-slide{overflow: hidden; border-radius: 15px !important;}

.nav-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.swiper-button-prev::after{
  color: #fff;
}
.swiper-button-next::after{
  color: #fff;
}

.swiper-pagination-bullet-active{background: #fff !important;}

/* --------------------------Product Detail carousel ---------------------------- */

.productCarousel.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.productCarousel.carousel-root .carousel {
  width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .productCarousel.carousel-root {
      flex-direction: column;
  }
  .productCarousel.carousel-root .carousel .thumb {
      border: 0;
      padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
      transform: none !important;
      flex-direction: column;
      display: flex;
      gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
      border: 0;
      padding: 0;
      margin: 0;
  }
}

/* ********************************************************** */
/* Footer CSS */
/* ********************************************************** */

.footerMain h1{
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 2rem;
  color: #fff;
}
.footerMain .footerLogo{
  background-color: #fff;
}
.footerMain .footerLogo h3{
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}
.footerMain .footerLogo p{
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  color: #2d2d2d;
}

.footerMain .footerLogo ul li{
  border: 1px solid #838383;
  padding: 12px;
  margin: 0px 5px;
  background-color: #fff;
}

.footerMain .instaBorder{
  border: 1px solid #838383;
  padding: 1.5rem 1rem;
  background-color: #fff;
}

.footerMain .instaBorder h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.footerMain .instaImgBox{
  overflow: hidden;
}

.footerMain .footerInstaImg{
  border: 1px solid #838383;
  transform: scale(1);
  transition: .2s ease-in-out;
}

.footerMain .instaImgBox:hover .footerInstaImg{
  transform: scale(1.25);
}

.footerMain .copywrite{
  font-size: 12px;
  margin-top: 1.25rem;
  color: #fff;
  text-align: center;
}